body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 1250px;
    margin: auto;
    height: 100%;
}

body.blackground{
    background-color: rgb(35, 35, 35);
}

nav#nav-main {
    list-style-type: none;
    overflow: hidden;
}

div#nav-main a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    float: right;
    padding: 14px 16px;
    text-transform: uppercase;
}

div#nav-main a:hover {
    background-color: rgb(75, 159, 232);
}

div a#nav-logout:hover {
    background-color: rgb(255, 89, 89);
}

div#nav-main button {
    text-align: center;
    border: none;
    font-size: medium;
    text-transform: none;
    cursor: pointer;
    padding: 14px 16px;
    background-color: rgba(0,0,0,0);
    color: white;
}

div#nav-main button:hover {
    background-color: rgb(75, 159, 232);
}

div.menu-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

div#nav-main-dropdown-content a {
    float: none;
    text-transform: none;

}

div.menu-dropdown-content {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
}


div#nav-main-dropdown-content:hover button#nav-main-account-drop-down-button{
    background-color: rgb(37, 107, 168);
}

div.menu-dropdown:hover div.menu-dropdown-content {
    display: block;
}

div.top-nav{
    background-color: rgb(30,30,30);
    float: right;
    width: 100%;
}

div.top-nav a{
    float: right;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 60px;
    padding: 16px;
    margin: 3px;
    color: white;
}
div.side-bar{
    float: left;
    width: 160px;
    overflow-x: hidden;
    margin-top: 40px;
    padding: 40px 0 40px 0;
    background-color: rgba(180,180,180,0.5);
}

div.side-bar a{
    display: block;
    text-decoration: none;
    font-size: large;
    color: black;
    padding: 15px 25px;
}

div.side-bar a:hover{
    background-color: rgba(150,150,150,0.8);
}

div.break-line{
    height: 1px;
    background-color: lightgray;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
div#main-intro-div{
    text-align: center;

}
p#main-page-intro{
    float: top;

    background-color: aliceblue;
}
div.instruction{
    float: left;
    width: 600px;
       background-color: aliceblue;
    height: 200px;

}
p.instruction-detail{
    margin-left: 10px;
    font-size: 15px;


}
h1{
    margin-left: 10px;
    font-size: 30px;
}
div#teacher-instruction{
    margin-left: 50px;
}
h2{
    margin-left: 10px;
    font-size: 30px;}
div#copyright{
    float: left;
    width: 1250px;
    margin-top: 30px;
    background-color: aliceblue;
    text-align: center;

}

.main-content{
    float: left;
    padding: 40px 20px 20px 40px;
}

/*Account Tab*/
.account-tab{
    overflow: hidden;
}

.account-tab button{
    float: left;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.3s;
}

.account-tab-content{
    display: none;;
    border: 1px solid #ccc;
    border-top: none;
}
